* {
    padding: 0;
    margin: 0;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 40px;
}
p {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
hr {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
} 
.top_bar img {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 90px;
    height: 90px;
}
.profile {
    position: absolute;
    right: 5%;
    top: 2%;
    width: 580px;
    height: 120px;
}
.profile img {
    margin: 5px;
    width: 100px;
    height: 100px;
}
.php_user {
    margin: 5px 5px 10px 130px;
}
#logout {
    color: red;
}
.nav_bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: left;
    background-color: #B3ADAD;
    width: 100%;
    position: absolute;
    top: 150px;
    height: 50px;
}
.nav_bar a {
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding-right: 20px;
    padding-left:20px;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
}
.nav_bar a div:hover {
    cursor: pointer;
}
#home_image {
    width: 45px;
    height: 45px;
}
.home {
    border-bottom: 2px solid black;
}
.home:hover {
    background-color: white;
}
.black {
    border-bottom: 2px solid black;
}
.black:hover {
    background-color: black;
}
.green {
    border-bottom: 2px solid #41BB45;
}
.green:hover {
    background-color:#41BB45;
}
.blue {
    border-bottom: 2px solid #11B3F0;
}
.blue:hover {
    background-color:#11B3F0;
}
.orange {
    border-bottom: 2px solid #F37321;
}
.orange:hover {
    background-color:#F37321;
}
.mainbox {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    top: 210px;
}
.course {
    flex: 6;
    padding: 10px;
    margin: 10px;
}
.course h2 {
    margin: 0 50px 0 50px;
}
.course p {
    margin: 0 100px 0 100px;
}
.course ul {
    margin-bottom: 80px;
}
.content_list {
    flex: 2;
    background-color: rgb(230, 230, 230);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    overflow-y: auto;
}
.content_list h2 {
    font-size: 22px;
    text-align: center;
}
.content_list p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
}
.content_list ul li {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-left: 40px;
    line-height: 30px;
    color: black;
}
.content_list ul li:hover {
    text-decoration: underline;
}
.bottom_buttons {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 50px;
}
.btn-primary {
    border-radius: 1.5em;
    border: none;
    width: auto;
    background: #e9e9e9;
    font-weight: 600;
    color: rgb(77, 77, 77);
    margin-top: 20px;
    padding: 20px;
    transition: background 0.3s;
}
.btn-primary:hover {
    background: #41BB45;
    cursor: pointer;
}
.code_box {
    flex: 1;
    height: auto;
    padding-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    background: rgb(203, 204, 204);
    border-radius: 5px;
}
.course h3 {
    margin-left: 100px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.course form {
    margin-left: 100px;
    line-height: 35px;
    font-family: 'Montserrat', sans-serif;
}
.course form input {
    margin-right: 20px;
}
.hidden {
    display: none;
}
.good_answer {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top:80px;
    color: green;
}
.bad_answer {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top:80px;
    color: red;
}
label {
    display: none;
    cursor: pointer;
}
#toggle {
    display: none;
}
.move_all {
    margin-top: 450px;
}
.course ul {  
    margin-left: 150px;
}
.course a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 40px;
}
.course a:hover {
    text-decoration: underline;
}
.course_to_question {
    display: none;
}
@media (max-width: 1600px) {
    .nav_bar a {
        font-size: 18px;
    }
}

@media screen and (max-width:1025px) {
    .top_bar img {
        margin-top: 10px;
        width: 70px;
        height: 70px;
    }
    .profile {
        margin-top: 10px;
        width: 450px;
        height: 80px;
        line-height: 14px;
        font-size: 14px;
    }
    .profile img {
        margin: 5px;
        width: 70px;
        height: 70px;
    }
    .nav_bar a {
        font-size: 14px;
        padding-right: 10px;
        padding-left: 10px;
    } 
    .course h2 {
        font-size: 36px;
    }
    .course p {
        margin: 0 50px 0 50px;
    }
}
@media screen and (max-width:769px) {
    .top_bar img {
        margin-top: 15px;
        width: 70px;
        height: 70px;
    }
    .profile img {
        display: none;
    }
    .nav_bar a {
        font-size: 14px;
        padding-right: 2px;
        padding-left: 2px;
    } 
    .course h2 {
        font-size: 30px;
    }
    .course p {
        margin: 0 30px 0 30px;
    }
    .content_list {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .top_bar img {
        display: none;
    }
    .profile {
        left: -100px;
        margin-top: 0;
        width: 450px;
        height: 80px;
        line-height: 10px;
        font-size: 12px;
    }
    .course h2 {
        font-size: 30px;
    }
    .course p {
        margin: 0 30px 0 30px;
        font-size: 14px;
    }
    .mainbox {
        top: 110px;
    }
    .top_bar {
        float: right;
    }
    .code_box {
        margin: 0 30px;
    }
    #toggle {
        display: none;
    }
    label {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 24px;
    }
    .black:hover {
        background-color: white;
    }
    .nav_bar {
        top: 90px;
        height: 20px;
        background-color: rgb(250, 250, 250);
    }
    .nav_bar a {
        display: none;
        color: black;
    }
    #toggle:checked ~ .nav_bar {
        display: block;
        height: 470px;
    }
    #toggle:checked ~ .nav_bar a {
        display: block;
        height: 50px;
        width: 100%;
        transition: background-color 0.4s;
    }
    .bottom_buttons {
        margin-bottom: 30px;
    }
    .home:hover {
        background-color: rgb(219, 218, 218);
    }
    .black:hover {
        background-color: rgb(219, 218, 218);
    }
}
@media screen and (max-width:321px) {
    .profile {
        left: -120px;
        margin-top: 10px;
        height: 70px;
        line-height: 9px;
        font-size: 10px;
    }
}